body {
  font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}

textarea {
  font-family: inherit;
  font-size: 2vw;
}

a {
  color: #00B7FF;
}

ul {
  list-style: none;
}

button {
  font-size: 2vw;
}

#introPage {
  text-align: center;
  color: white;
  background-image: url("../images/hogwarts.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

#title {
  font-size: 5vw;
}

#instructions {
  font-size: 3vw;
}

#introPage table {
  font-size: 1.5vw;
  min-width: 50vw;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, .5);
  padding-bottom: 5vh;
  padding-top: 3vh;
  border-radius: 10%;
  color: #eae22e;
}

.logo {
  max-width: 7vw;
  cursor: pointer;
}

#customUser {
  font-size: 1.5vw;
}

#tweetboard {
  /*display: none;*/
}

#titleBar {
  font-size: 4vw;
  text-align: center;
  padding-top: 2vh;
  padding-bottom: 1vh;
  background-color: #cc322a;
  background-image: url("https://us.123rf.com/450wm/bezyanova/bezyanova1610/bezyanova161000052/66783843-vector-seamless-pattern-for-background-repeating-square-abstract-background-abstract-red-wood-patter.jpg?ver=6");
  background-size: contain;
  color: white;
}

#getComments {
  background-color: #a7efb0;
}

#left {
  float: left;
  width: 29vw;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 4vw;
  /*position: fixed;
  height: 100vh;*/
  background-image: url("../images/stars.jpg");
  background-size: contain;
  color: #d1c30c;
}

#userInfo {
  background-color: rgba(0, 0, 0, .5);
}

#right {
  float: right;
  width: 100vw;
  margin: 0;
  padding: 0;
  text-align: center;
  min-height: 100vh;
  background-color: #efecaa;
  background-image: url("../images/stars.jpg");
}

#middle {
  padding-top: 1vh;
  padding-bottom: 1vh;
}

#userImageDiv {
  padding: 15px;
  border-radius: 50%;
  width: 24vw;
  display: inline-block;
  position: relative;
}

#commenter {
  width: 70vw;
  border-style: solid;
  border-radius: 10%;
  padding: 2vh;
  margin-bottom: 2vh;
  display: inline-block;
  background-color: #d2daf7;
  border-color: #4b5460;
}

.oneComment {
  width: 70vw;
  border-style: solid;
  border-color: #4b5460;
  border-radius: 10%;
  background-color: #e8ecf2;
  padding: 2vh;
  margin-bottom: 2vh;
  overflow-y: auto;
}

.commentWordWrap {
  width: 56vw;
  word-wrap: break-word;
}

#userImage {
  width: 4vw;
}

#house {
  font-size: 3vw;
}

#postComment {
  width: 20vw;
}

.imgTD {
  font-size: 4vh;
}

.commentImg {
  /*border-radius: 50%;*/
  width: 4vw;
}

.thumbsup {
  width: 3vw;
  cursor: pointer;
}

.likes {
  font-size: 4vw;
}

#comments {
  display: inline-block;
}

#commentsList {
  font-size: 2vw;
  width: 50vw;
}

#comment {
  font-size: inherit;
}

/*#commentsList li {
  margin-bottom: 20px;
  border-style: solid;
  border-radius: 15%;
  padding: 10px;
}*/

.commentTD {
  text-align: left;
  font-size: 1.5vw;
  vertical-align: top;
  padding-left: 2vw;
}


.nameSays {
  font-size: 2vw;
}
